/* Style sheet with conditions for Internet Explorer. */

hr {
  margin:                 -8px 0 -7px 0;
}

#header {
  height:                 77px;
}

#header ul {
	top: 79px;
	bottom:                 -1px;
}

.pages {
  padding:                1px 20px 5px 20px;
}


.pages strong {
	position:               relative;
	top:                    .10em;
}

body#selection h1 {
	margin-bottom: 0          ;
}

body#checkout #order_form {
	top: -200px;
	margin-left: 500px;
	width: 50%;
	float: right;
}

body#checkout #order_form input {
margin-left:140px;
  
}

body#selection #selection_size {
	position:               relative;
	top:                    .5em;
	z-index:                1;
	visibility: visible;
	float: right;
	left: -570px;
	overflow: hidden;
	color: #333333;
	
}

body#selection h2#selection_size label {
	visibility:             visible;

}


#big_picture label {
	width:                  13%;
	padding:                3px;
	position:               absolute;
	right:                   42px;
	top: -44px;
}

body.videos#index #main_content {
	float: none;
}



#header li {
	padding:                0;
}

#header li a {
	background:             url(../images/tab_corner_right2.gif) no-repeat right;
	border-right: 1px solid #464646;
}

body.best_galleries #header li.best_galleries a,
body.full_galleries #header li.full_galleries a, 
body.videos #header li.all_videos a, 
body.quem_somos #header li.quem_somos a,
body.contact #header li.contact a, 
body.blog #header li.blog a {
	margin-right: -5px;

}


/* Vertically centering images */
ul#thumbnails li div a {
	display:                block;
}
ul#thumbnails li div span.ie {
	display:                inline-block;
	vertical-align:         middle;
	height:                 100%;
}

.second {
  bottom:                 40px;
}

#all_pictures label, #cart_items label, 
#selected_pictures label {
	filter:                 alpha(opacity=70);
}


body#selection #selection_size {
  right:                  34.25em;
}

.moved_to_cart {
	filter:                 alpha(opacity=30);
}

label {
	margin-top:             .3em;
}

#submit_button {
	width:                  12em;
	margin-left:            43%;
}

/* IE7: */
*:first-child + html #facebox a {
	right:                  -36px;
}